body {
    background-color:#D5E1EF;
       
}
main {
    background-color: white;
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 1.5em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.785);

}
img {
    width: 300px;
    border-radius:10% ;
    padding: 1.5em ;
   
}
h1 {
    color: darkblue;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;   


}
p {
    text-align: center;
    color: rgb(157, 153, 153);
    font-size: 1em;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}