body {
    background-color:#D5E1EF;
    font-size: 15px;
    
}
div {
    background-color: white;
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;

}
img {
    width: 300px;
    border-radius:10% ;
    padding: 20px 10px 0 22px ;
   
}
img + p {
    color: darkblue;
    font-size: 20px;
    font-weight: 700;   

}
p {
    text-align: center;
    color: rgb(157, 153, 153);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}